@keyframes highlight {
    0% {
        background-color: cornflowerblue;
        color: orange;
    }
    100% {
        background-color: initial;
        color: initial;
    }
}
.section:target {
    animation: highlight 2s;
}
nav {
    width: max-content;
}
.wy-nav-side {
    overflow-x: auto;
}