@keyframes highlight {
    0% {
        background-color: orange;
        color: gray;
    }
    100% {
        background-color: orange;
        color: green;
    }
}
.section:target {
    animation: highlight 2s;
}

nav {
    width: max-content;
}